.country {
  text-align: right;
  font-weight: 600;
  font-size: 50px;
  padding: 0;
}
.today-text {
  font-family: var(--primary-font);
  color: var(--dark-blue-font);
  padding: 0px 30px;
}
.country {
  font-family: var(--primary-font);
  color: var(--dark-blue-font);
  font-weight: 100;
}
.today-text {
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
}
.week-forecast {
  font-size: 17px;
  font-weight: 900;
  padding: 20px 0px;
  text-align: center;
  font-family: var(--primary-font);
  color: var(--dark-blue-font);
  background-color: rgba(39, 61, 84, 0.2);
  border: 3px solid rgba(255, 255, 255);
  border-radius: 10px;
}
