.extra-info {
  opacity: 70%;
  font-size: 14px;
  line-height: 18px;
  font-family: var(--primary-font);
  color: var(--dark-blue-font);
}
.temperature-type {
  font-size: 23px;
  position: relative;
  top: -45px;
  left: 5px;
  text-decoration: none;
  color: var(--dark-blue-font);
  cursor: default;
}
.temperature {
  font-size: 88px;
  line-height: 77px;
}
.temperature,
.forecast {
  font-weight: 600;
  font-style: italic;
}
.forecast {
  line-height: 46px;
  font-size: 29px;
  text-transform: capitalize;
}
.day-forecast {
  padding: 23px;
  padding-bottom: 42px;
}
.day-forecast-text {
  padding: 0px 30px;
  font-family: var(--primary-font);
  color: var(--dark-blue-font);
}
.main-weather-icon {
  width: 160px;
}
.icon {
  text-align: right;
  padding: 0;
}
p {
  margin: 0;
}
