.temp-range {
  color: white;
}

@media (max-width: 450px) {
  .temp-range {
    font-size: 14px;
  }
}
@media (max-width: 280px) {
  .temp-range {
    font-size: 12px;
  }
  .weatherIcon,
  .weather-icon {
    width: 10px;
  }
}
