.temp-range {
  color: white;
}

@media (max-width: 450px) {
  .temp-range {
    font-size: 14px;
  }
  .week-forecast {
    padding-right: 17px !important;
  }
  .WeatherForecastDay canvas {
    width: 38px;
  }
}
@media (max-width: 280px) {
  .temp-range {
    font-size: 12px;
  }
  .WeatherForecastDay canvas {
    width: 33px;
  }
}
