.temperature-type {
  font-size: 23px;
  position: relative;
  top: -45px;
  left: 15px;
  text-decoration: none;
  color: var(--dark-blue-font);
  cursor: default;
}
.temperature {
  font-size: 88px;
  line-height: 77px;
  font-weight: 600;
  font-style: italic;
}
@media (max-width: 450px) {
  .temperature {
    font-size: 60px;
  }
  .temperature-type {
    font-size: 18px;
    position: relative;
    top: -32px;
    left: 10px;
  }
}
@media (max-width: 360px) {
  .temperature {
    font-size: 51px;
  }
  .temperature-type {
    font-size: 13px;
    position: relative;
    top: -27px;
    left: 8px;
  }
}
@media (max-width: 300px) {
  .temperature {
    font-size: 43px;
  }
  .temperature-type {
    font-size: 12px;
    position: relative;
    top: -20px;
    left: 10px;
  }
}
